@import '../../../../styles.scss';

.slider {
    padding: 7rem 0;
    h1 {
        font-size: 6.5rem;
        font-weight: 800;
    }
    
    .service {
        a {
            color: $blue;
            text-decoration: underline;
        }
        i {
            font-size: 30px;
        }
    }
    
    .arrow-down {
        margin-top: 3rem;
        a {
            height: 50px;
            padding: 20px 15px;
            border-radius: 25%;
            background: rgb(30,40,62);
            background: linear-gradient(0deg, rgba(30,40,62,1) 35%, rgba(11,15,23,1) 100%);
        }
    }
    .image-slider {
        width: 70%;
        height: 50vh;
        border-radius: 10rem;
        display: block;
        margin: auto;
    }
}