<section class="slider">
    <div class="row">
        <div class="col-6">
            <h1>Darcy's insurance products</h1>
        </div>
        <div class="col-3">
            <div class="services">
                <div class="service pb-5">
                    <i class="fa-solid fa-star-of-life"></i>
                    <p class="pt-3">Our <a href="#">plans</a> are saving policy holders 30% - 60% on premiums</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-star-of-life"></i>
                    <p class="pt-3">We offer a choice of low dedactibles and include no cost value-added seervices.</p>
                </div>
            </div>
            <div class="arrow-down">
                <a href="#">
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>
        <div class="col-3">
            <img class="image-slider" src="https://i.pinimg.com/originals/d4/82/c0/d482c0a269f6e73517382ce0d1afa375.jpg" alt="Hot Baloon">
        </div>
    </div>
</section>