<div class="experts">
   <div class="row">
    <div class="col-8">
        <div class="expert">
            <div class="row">
                <div class="col-3">
                    <div class="image">
                        <img src="https://shorturl.at/aiIR0" alt="Testimonial Image">
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="inner">
                            <h3>Georgia Darcy</h3>
                            <p class="designation">The Agency Founder</p>
                            <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning</p>
                            <a href="#" class="btn-custom blue mt-5">Get a consultation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h1 class="side-heading">
            <i class="fa-solid fa-star-of-life steric-icon"></i>
            <span>Our experts say</span>
        </h1>
    </div>
   </div>
</div>