<div class="support">
    <div class="row">
        <div class="col-4 animate__animated animate__bounceInLeft">
            <h1>Support <br> at every <br> <strong>Step</strong></h1>
        </div>
        <div class="col-4 animate__animated animate__bounceInRight">
            <div class="services">
                <div class="service pb-5">
                    <i class="fa-solid fa-star-of-life"></i>
                    <p class="pt-3">Participate in the <a href="#">loyalty program</a> pay for the service online to get bonuses for our other services. we have alot of bonuses!</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-star-of-life"></i>
                    <p class="pt-3">We can help other people. choose a donation fund and share the link with your friends.</p>
                </div>
            </div>
        </div>
        <div class="col-4 animate__animated animate__bounceInRight">
            <img class="image-beautify" src="https://i.pinimg.com/originals/d4/82/c0/d482c0a269f6e73517382ce0d1afa375.jpg" alt="Hot Baloon">
        </div>
    </div>
</div>