<app-slider></app-slider>

<div class="cards-area">
    <div class="row">
        <div class="col-6">
            <app-card 
                [size]="'lg'"
                [image]="'https://shorturl.at/amHU4'"
                [title]="'Home Insurance'">
            </app-card>
        </div>
        <div class="col-2">
            <img class="image-beautify" src="https://i.pinimg.com/originals/d4/82/c0/d482c0a269f6e73517382ce0d1afa375.jpg" alt="Hot Baloon">
        </div>
        <div class="col-4">
            <div class="best-choice">
                <h3>Best Choice</h3>
                <p>Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning</p>
                <a href="#" class="btn-custom pink">View all services</a>
            </div>
        </div>
        <div class="col-4">
            <app-card
                [image]="'https://shorturl.at/efN12'"
                [title]="'Vehicle Damage'">
            </app-card>
        </div>
        <div class="col-4">
            <app-card
                [image]="'https://shorturl.at/hkuy0'"
                [title]="'Mortgage Insurance'">
            </app-card>
        </div>
        <div class="col-4">
            <app-card
                [image]="'https://shorturl.at/isvAS'"
                [title]="'Medical Expenses'">
            </app-card>
        </div>
    </div>
</div>

<app-experts></app-experts>