@import '../../../styles.scss';

.cards-area {
    .image-beautify {
        width: 90%;
        height: 300px;
        border-radius: 10rem;
        display: block;
        margin: auto;
    }
}

.best-choice {
    border-radius: 50px;
    height: 300px;
    background-color: $dark;
    padding: 30px 50px;
    position: relative;
    p {
        font-size: 13px;
        margin-top: 15px;
    }
    a {
        position: absolute;
        bottom: 20px;
        width: 75%;
        
    }
}