$darker: #0b0f17;
$dark: #1e283e;
$pink: #fb6478;
$blue: #84d7e8;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif !important;
    background: rgb(11,15,23);
    background: linear-gradient(0deg, rgba(11,15,23,1) 35%, rgba(30,40,62,1) 100%);
    background-attachment:fixed;
    color: $white !important;
}

a {
    text-decoration: none;
    color: $white;
}

ul {
    margin-bottom: 0;
}

.btn-custom {
    text-align: center;
    border-radius: 25px;
    padding: 10px 30px;
    &.pink {
        background-color: $pink;
        color: $white;
    }
    &.blue {
        background-color: $blue;
        color: $darker;
    }
}

.form-field {
    label {
        opacity: 0.6;
        padding-bottom: 10px;
    }
    input {
        background-color: $dark;
        border: 0;
        width: 100%;
        padding: 15px 20px;
        border-radius: 25px;
        color: $white;
        &:focus {
            border: 0;
        }
        &::placeholder { /* Most modern browsers support this now. */
            color: $white;
         }
    }
}